<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <style>
        body {
            background-color: #bcffff;
        }

        .header {
            font-weight: bold;
            background-color: white;
            border-radius: 10px;
            width: 93px;
            height: 46px;
            display: flex;
            font-size: 16px;
            justify-content: space-between;;
            align-items: center;
            
        }
        #switch {
            float:right;
        }
    </style>
</head>
<body>
    <header>
        <span id="order" class="header">注文履歴</span>
        <span id="switch" class="header">switch</span>
    </header>
    <h1>Hello!!</h1>
</body>
</html>