<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <style>
        body {
            background-color: #bcffff;
        }

        header {
            width: 96%;
        }
        
        .header {
            font-weight: bold;
            background-color: white;
            border-radius: 10px;
            width: 93px;
            height: 46px;
            line-height: 46px;
            display: inline-block;
            font-size: 16px;
            text-align: center;
            
        }
        #switch {
            float:right;
        }

        #wait_time {
            text-align: center;
            font-size: 96px;
        }

        .grid-container {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 153px auto;
            height: 159px;
            gap: 30px;
            margin-bottom: 30px;
            
        }

        .grid-item {
            background-color: white;
            box-shadow: 0 4px 4px gray;
            border: 1px solid;
        }

        .grid-item:nth-child(1) {
            
            grid-row: 1 / 3;
        }

       input {
        display: inline-block;
        padding: 8px;
       }


       .grid-1 {
        
        text-align: center;
        display: inline-block;
        line-height: 159px;
        font-size: 96px;
       }

       .grid-2 {
        margin-bottom: 10px;
       }
      
       .grid-container-2 {
        
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        
       }

       .grid-bt {
        background-color: white;
        width: 93px;
        height: 97px;
        text-align: center;
        line-height: 97px;
        font-size: 64px;
        box-shadow: 0 4px 4px gray;
        border: 1px solid;
       }
     
       .text-bt {
        font-size: 35px;
       }
       
       .wait_time {
        padding: 0;
       }
    </style>
</head>
<body>
    <header>
        <span id="order" class="header">注文履歴</span>
        <span id="switch" class="header">switch</span>
    </header>
    <div id="wait_time">0:00:00</div>
    <div class="grid-container">
        <div class="grid-item grid-1">1</div>
        <form action="">
            <label for="" class="label-1">時刻</label><br>
            <input type="datetime-local" class="grid-item grid-2"><br>
            <label for="" class="label-2">本数</label><br>
            <input type="text" class="grid-item grid-3">
        </form>
    </div>
    <div class="grid-container-2">
        <div class="grid-bt">1</div>
        <div class="grid-bt">2</div>
        <div class="grid-bt">3</div>
        <div class="grid-bt">4</div>
        <div class="grid-bt">5</div>
        <div class="grid-bt">6</div>
        <div class="grid-bt">7</div>
        <div class="grid-bt">8</div>
        <div class="grid-bt">9</div>
        <div class="grid-bt text-bt">del</div>
        <div class="grid-bt">0</div>
        <div class="grid-bt text-bt">送信</div>
    </div>
    
</body>
</html>